doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400i,400,500,700&amp;subset=latin")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href="#") 
                    img(src="images/albdent-02.png", alt="Pied Piper", width="200")
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-08", aria-controls="navigations-08", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navigations-08
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.active(href="#") Features
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="#") Enterprise
                        li.nav-item
                            a.nav-link(href="#") Support
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") ICO
                            .dropdown-menu
                                a.dropdown-item(href="#") Whitepaper
                                a.dropdown-item(href="#") Token
                    a.btn.btn-outline-primary.mt-2.mt-md-0.ml-lg-3(href="#") Sign up

            section(style="background: url('https://bootstrapshuffle.com/placeholder/pictures/bg_16-4.svg?primary=18C2D8');background-size: cover")
                .container.py-5.text-center
                    .row
                        .col-md-9.col-lg-6.card.border-0.my-5.p-5
                            h2.mt-4.mb-3 Bringing the Internet to the People.
                            p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized.
                            a.btn.btn-primary(href="#") Learn more

            section.py-5
                h2.text-center.mb-3 The New Internet
                .container
                    .row
                        .col-md-6.p-3
                            p Have you ever heard about "not putting all of your eggs in one basket"? Well, with PiperNet you can actually put all your eggs in millions of baskets and every one of them guarantees safety for your data.
                        .col-md-6.p-3
                            p "Loading data" will soon be forgotten same way as floppy discs. With PiperNet algorithm, every data could travel faster than it was ever imaginable. Everything on demand. Always.

            section.py-5
                .container.text-center
                    h2.mb-5 The New Internet
                    .row
                        .col-md-6.col-lg-3.mb-4
                            img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=18C2D8", alt="")
                        .col-md-6.col-lg-3.mb-4
                            img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=18C2D8", alt="")
                        .col-md-6.col-lg-3.mb-4
                            img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=18C2D8", alt="")
                        .col-md-6.col-lg-3.mb-4
                            img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=18C2D8", alt="")

            section.py-5
                .container.text-center
                    h2.mb-4 PiperNet Setup
                    p.lead.mb-5 We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.
                    div
                        .row.align-items-center.text-md-left.mb-5
                            .col-md-6.order-1.order-md-0
                                img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=18C2D8", alt="")
                            .col-md-6.mb-4.mb-md-0
                                span.display-3.mb-2 01
                                h3.mb-4 Move Data
                                p Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.
                        .row.align-items-center.text-md-right.mb-5
                            .col-md-6.order-1
                                img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=18C2D8", alt="")
                            .col-md-6.mb-4.mb-md-0.order-0
                                span.display-3.mb-2 02
                                h3.mb-4 Integrate Software
                                p We want to make sure that you can keep using the software that you use to manage your  business.
                        .row.align-items-center.text-md-left.mb-5
                            .col-md-6.order-1.order-md-0
                                img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=18C2D8", alt="")
                            .col-md-6.mb-4.mb-md-0
                                span.display-3.mb-2 03
                                h3.mb-4 Ongoing Support
                                p As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for you.

            section.py-5
                .container.text-center
                    h2 The Pipers
                    p.mb-5 We are the guys that made this whole thing possible
                    .row
                        .col-md-4.mb-4
                            img.mb-3.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=18C2D8", height="120", alt="")
                            h5.mb-0 Richard Hendricks
                            small CEO
                            p.my-4.text-muted When I'm not obsessively stressing about the fate of Pied Piper, I sometimes give lectures to school kids. Spend most of my time coding.
                        .col-md-4.mb-4
                            img.mb-3.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=18C2D8", height="120", alt="")
                            h5.mb-0 Dinesh Chugtai
                            small CTO
                            p.my-4.text-muted I am the absolute best programmer at Pied Piper (especially better than Gilfoyle). My genius shines and guides the Pied Piper team.
                        .col-md-4.mb-4
                            img.mb-3.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=18C2D8", height="120", alt="")
                            h5.mb-0 Bertram Gilfoyle
                            small Chief Systems Architect
                            p.my-4.text-muted I work on Pied Piper only for the advanced technology. I don't really like most people I work with, but they need me to put out their fires, so&nbsp;I&nbsp;stay. 


            footer.pt-4.pb-3
                .container.text-center.text-lg-left
                    .row.d-flex.justify-content-center.justify-content-lg-between

                        .col-10.col-sm-5.col-lg-3.my-2.my-lg-0
                            h6 Products
                            ul.list-inline.ml-0
                                li.py-1
                                    a(href="#") Features
                                li.py-1
                                    a(href="#") Enterprise
                                li.py-1
                                    a(href="#") Support
                                li.py-1
                                    a(href="#") ICO

                        .col-10.col-sm-5.col-lg-3.my-2.my-lg-0
                            h6 About Pied Piper
                            ul.list-inline.ml-0
                                li.py-1
                                    a(href="#") Our team
                                li.py-1
                                    a(href="#") Careers
                                li.py-1
                                    a(href="#") Press
                                li.py-1
                                    a(href="#") Stores

                        .col-10.col-sm-5.col-lg-3.my-2.my-lg-0
                            h6 Contact
                            ul.list-inline.ml-0
                                li.py-1
                                    a(href="#") pay-the-piper@piedpiper.com
                                li.py-1
                                    a(href="#") 555-09-555
                                li.py-1
                                    a(href="#") Pied Piper HQ - 59 Silicon Av.

                        .d-flex.flex-column.col-10.col-sm-5.col-lg-3.my-2.my-lg-0
                            h5
                                a(href="#") Pied Piper
                            p Our newsletter features articles from Richard, Gilfoyle and Dinesh.
                            .input-group
                                input.form-control(type="text", placeholder="Your e-mail", aria-label="Your e-mail", aria-describedby="label-footers-09")
                                .input-group-append.d-block
                                    button.btn.btn-primary#label-footers-09 Subscribe

                        .w-100.border-top.my-3

                    .row.flex-column.flex-sm-row.align-items-center.justify-content-sm-between
                        ul.list-inline.d-flex.flex-column.flex-sm-row.mb-0.text-center
                            li
                                a(href="#") Terms and conditions
                            li.mx-sm-4
                                a(href="#") Legal
                            li
                                a(href="#") Pattents

                        p.mb-0.small.text-muted &copy; 2019 Pied Piper | All right reserved.

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
